* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#nav-bar {
    background-color: rgb(19, 31, 41);
    width: 100%;
    text-align: right;
        display: inline;
    position: fixed;


}
.nav-link {
    width: auto;
     display: inline;
    color: whitesmoke;
    font-size: 19px;
    font-weight: 500;
    text-align:center;
    margin-right: 7%;
}
li {
  display: inline;
  

}


h1 {
    color: rgb(190, 241, 238);
    position: relative;
    font-size: xx-large;
    z-index: 1;
    padding-left: 48px;
    text-align: left;
}
.typewrite {
    color: whitesmoke;
    position: relative;
    font-size: xx-large;
    padding-left: 48px;
    text-align: left;
    margin: 0.5% auto;
    z-index:1;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(19, 31, 41);
    color: rgb(254, 254, 254);
    text-align: right;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: url();
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin-left: 43%;
    margin-top: 15%;
    padding: 5px;
    overflow: hidden;
    background: black;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}



.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #fdffff;
    font-size: small;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #0a0a0a, #f6f6f9);
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 20px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(241, 242, 243);
    outline: none;
    background: transparent;
    color: #ecfafa;
    font-size: medium;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    margin: 40px auto;
    display: block;
    background: linear-gradient(to right, #090909, #f6f6f9);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: #ecfafa;
    font-size: medium;


}



#login {
    left: 58px;
}

#register {
    left: 450px;
}

/* The message box is shown when the user clicks on the password field */


#message {
    display:none;
    background: black;
    color: whitesmoke;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    margin-left: 43%;
    width: 13.7%;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }

  /* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  .container {
    background-color: #f1f1f1;
    padding: 20px;
  }