* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#nav-bar {
    background-color: rgb(3, 81, 103);
    width: 100%;
    position: fixed;
}

h1 {
    color: rgb(190, 241, 238);
    position: relative;
    font-size: xx-large;
    z-index: 1;
    padding-left: 48px;
    text-align: left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(19, 31, 41);
    color: rgb(254, 254, 254);
    text-align: right;
}

.typewrite {
    color: rgb(190, 241, 238);
    position: relative;
    font-size: xx-large;
    padding-left: 48px;
    text-align: left;
    margin: 0.5% auto;
    z-index:1;
}

table,
th,
td,
tr {
    border: 1px whitesmoke;
    margin-bottom: 10px;
    position: relative;
}

.table2 th,
.table2 td {
    border: 1px solid #ddd;
    padding: 8px;

}

.table2 tr:hover {
    background-color: whitesmoke;
}


.table2 tr:nth-child(even) {
    background-color: #f2f2f2;
}


.table2 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #325b6c;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: transparent;
    justify-content: space-evenly;
    position: relative;
    font-size: large;
}

.portfolio-card {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(6, 6, 6);
    font-size: large;
    margin-top: 1%;
}


main {
    display: flex;
}

aside {
    margin: 20px;
}

 /* #portfolio-list {

    display: table-column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}  */
