 * {margin:0;
     padding: 0;
     font-family: sans-serif;
 }
#nav-bar {
    background-color: rgb(19, 31, 41);
    width: 100%;
    text-align: right;
    display: inline;
    position: absolute;
}
.nav-link {
    color:Whitesmoke;
    font-size:xx-large;
    text-align: center;
    text-decoration: none;
   
}

.link-div{
    background-color: black;
    width: 67%;
    height: 4%;
    text-align: center;
    padding: 10px 0;
    margin-left: 29%;
    margin-top:10%;
    align-items:center;
         box-shadow: 10px 10px 10px 10px #888888;

}
li {
  display: inline;
  

}

h1 {
    color:whitesmoke;
    position: relative;
    font-size: xx-large;
    z-index: 1;
    padding-left: 48px;
    text-align: left;

}
img {
     width: 100vw;
     height: 100vh;
     object-fit: cover;
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     z-index: -1;
 }
 .typewrite {
    color:whitesmoke;
     position: relative;
     font-size: xx-large;
     padding-left: 48px;
     text-align: left;
     margin: 0.5% auto;
     z-index:1;
 }
 .logout{
 color:white;
 text-decoration: none;
 font-size:large;
 }
footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color:black;
     color: whitesmoke;
     text-align: right;
 }

.stock-form {
     width: 40%;
     min-width: 400px;
     height: 70%;
     position: relative;
     background-color: black;
     margin-left: 25%;
     margin-top: 20px;
     padding: 30px;
     box-shadow: 10px 10px 10px 10px #888888;
}
.stock {
     width: 100%;
     padding: 20px 0;
     margin: 5px 0;
     border-left: 0;
     border-top: 0;
     border-right: 0;
     border-bottom: 1px whitesmoke;
     outline: none;
     background: transparent;
     color: whitesmoke;
     font-size: large;
 }
h2 {
     position: relative;
     margin: 5% auto;
     text-align: center;
     color:whitesmoke;
 }
.submit-btn {
     width: 85%;
     padding: 10px 30px;
     cursor: pointer;
     margin: 20px auto;
     display: block;
     background: linear-gradient(to right, #060707, #fdffff);
     border: 0;
     outline: none;

     color: whitesmoke;
     font-size: large;
}
table,
 th,
 td,
 tr {
     border: 1px whitesmoke;
     margin-bottom: 10px;
     position: relative;
 }

 .table2 th,
 .table2 td {
     border: 1px solid #ddd;
     padding: 8px;
}
.table2 tr:hover {
     background-color: whitesmoke;
 }
.table2 tr:nth-child(even) {
     background-color: #f2f2f2;
 }
.table2 {
  font-family: Arial, Helvetica, sans-serif;
      border-collapse: separate;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-left: 40%;
}

 .table2 th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: center;
     background-color: black;
     color: white;
 }

.container {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     background-color: transparent;
     justify-content: space-evenly;
     position: relative;
     margin-bottom: 2%;
     font-size: large;
 }

 .portfolio-card {

    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(6, 6, 6);
     font-size: large;
 }


 main {
     display: flex;
 }



  #portfolio-list {
    margin-top: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     

 }
 .row {
     margin-top: 200px;
    display: flex;
  }
  
  .column {
    flex: 50%;
  }