 * {
     margin: 0;
     padding: 0;
     font-family: sans-serif;
 }
#nav-bar {
     background-color: rgb(3, 81, 103);
     width: 100%;
     position: fixed;
 }
h1 {
    color: rgb(190, 241, 238);
    position: relative;
    font-size: xx-large;
    z-index: 1;
    padding-left: 48px;
    text-align: left;
}
img {
     width: 100vw;
     height: 100vh;
     object-fit: cover;
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     z-index: -1;
 }
footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: whitesmoke;
     color: rgb(6, 6, 6);
     text-align: right;
 }
.body {
     height: 100%;
     width: 100%;
     background-image: url(https://wallpaperaccess.com/full/1156687.jpg);
     background-position: center;
     background-size: cover;
     position: absolute;

 }
.stock-form {
     width: 40%;
     height: 200%;
     position: relative;
     background-color: rgba(255, 255, 255, 0.3);
     margin-left: 0%;
     margin-top: 30%;
     padding: 30px;
 }
.stock {
     width: 100%;
     padding: 20px 0;
     margin: 5px 0;
     border-left: 0;
     border-top: 0;
     border-right: 0;
     border-bottom: 1px solid rgb(0, 3, 6);
     outline: none;
     background: transparent;
     color: #060707;
     font-size: large;
 }
h2 {
     position: relative;
     margin: 5% auto;
     text-align: center;
 }
.submit-btn {
     width: 85%;
     padding: 10px 30px;
     cursor: pointer;
     margin: 20px auto;
     display: block;
     background: linear-gradient(to right, #060707, #fdffff);
     border: 0;
     outline: none;
     border-radius: 30px;
     color: whitesmoke;
     font-size: large;
}
table,
 th,
 td,
 tr {
     border: 1px whitesmoke;
     margin-bottom: 10px;
     position: relative;
 }

 .table2 th,
 .table2 td {
     border: 1px solid #ddd;
     padding: 8px;
}
.table2 tr:hover {
     background-color: whitesmoke;
 }
.table2 tr:nth-child(even) {
     background-color: #f2f2f2;
 }
.table2 {
  font-family: Arial, Helvetica, sans-serif;
      border-collapse: separate;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 400px;
}

 .table2 th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: center;
     background-color: #325b6c;
     color: white;
 }

 /* #portfolio-list {

     display: table-column;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     justify-content: space-evenly;

 } */

 .container {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     background-color: transparent;
     justify-content: space-evenly;
     position: relative;
     margin-bottom: 2%;
     font-size: large;
 }

 .portfolio-card {

    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(6, 6, 6);
     font-size: large;
     margin-top: 10%;
 }


 main {
     display: flex;
 }

 aside {
     margin: 20px;
 }

 /* #student-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     justify-content: space-evenly;

 } */
