

* {
    margin: auto;
    padding: 0;
    font-family: sans-serif;
}

img {
     height: 100%;
     width: 100%;
    position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     z-index: -1;
     background-position: center;
     background-size: cover;
     
 }

.welcome{
margin:12% auto 0;
font-size:30px;
text-align:center;
}

h1{
font-weight:normal;
color:gray;
}
p{
    font-size: xx-large;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}



